<!DOCTYPE HTML>
<html>
<head>
    <link rel="prisoner" type="text/css" href="prisoner.component.css">
</head>
<body>
  <h1>Prisoner-Details</h1>
  <div class= "prisoner">

    
      <form action ="/" id="myPrisoner">
        <p>Prisoner number:</p> <input type="number" name="PrisonerNo" placeholder="enter the Prisoner number">
        <p>Cought Date:</p> <input type="date" name="PrisonerDate" placeholder="enter the date">
        <p>Release Date:</p> <input type="date" name="PrReleaseDate" placeholder="enter the Release Date">
        <p>year:</p> <input type="text" name="" placeholder="enter the year">
        <p>Prisoner Name:</p> <input type="text" name="PrisonerName" placeholder="enter the Prisoner name">
        <p>Crime he did:</p> <input type="text" name="CrimeType" placeholder="enter the Crime type">
        <input type="submit" name="submit" value="Submit"><br>
        </form>
        </div>
        </body>
        </html>
