<home-page></home-page>
  <h1>Prisoner-Details</h1>
  <table border="1" style="padding:5px;">
    <tr *ngFor="let row of httpdata">
      <td>{{ row.prisoner_id }}</td>
      <td>{{ row.Enter_date }}</td>
      <td>{{ row.Release_date }}</td>
      <td>{{ row.year }}</td>
      <td>{{ row.prisoner_name}}</td>
      <td>{{ row.crime }}</td>
      
      <td><button value="Delete" (click)="deletePrisoner(row.prisoner_id)">Delete</button></td>
  
    </tr>
  </table>
  <div class= "prisoner">

      <table style="padding:5px;">
        
        <tr>
       <td>Cought Date:<input type="date" [(ngModel)]="prData.Enter_date" placeholder="enter the date"></td>
       </tr>
       <tr>
       <td>Release Date:<input type="date" [(ngModel)]="prData.Release_date" placeholder="enter the Release Date"></td>
       </tr>
       <tr>
      <td>year:<input type="text" [(ngModel)]="prData.year" placeholder="enter the year"></td>
      </tr>
      <tr>
        <td>Prisoner Name:<input type="text" [(ngModel)]="prData.prisoner_name" placeholder="enter the Prisoner name"></td>
        </tr>
        <tr>
        <td>Crime he did:<input type="text" [(ngModel)]="prData.crime" placeholder="enter the Crime type"></td>
        </tr>
      </table>
        <input type="submit" (click)="addPrisoner()" value="Submit"><br>
        
        </div>
        
