.prisoner input{
    width:50%;
    height: 100%;
    margin-bottom: 20px;
    background-color: hsl(61, 91%, 50%);
}
.prisoner input[type="submit"]
{   width: 20%;;
    border:none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.prisoner input[type="submit"]:hover
{
    cursor: pointer;
    background: #d7ec1a;
    color: #000;
}
.prisoner p{
    margin:10px;
    color:rgb(49, 0, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding:0;
    font-weight:bold;
}
.prisoner input
{
    border:none;
    padding: 0.4em 0.25em;
    width:40%;
    color: #fc0707;
    font-size: 1.55em;
    border-radius: 30px;
    transform: translate3d(0, +0.5em, 0);
    }