
  <h1>Prisoner-Details</h1>
  <div class= "prisoner">

      <table style="padding:5px;">
        
        <tr>
       <td>Cought Date:<input type="date" [(ngModel)]="prData.Enter_date" placeholder="enter the date"></td>
       </tr>
       <tr>
       <td>Release Date:<input type="date" [(ngModel)]="prData.Release_date" placeholder="enter the Release Date"></td>
       </tr>
       <tr>
      <td>year:<input type="text" [(ngModel)]="prData.year" placeholder="enter the year"></td>
      </tr>
      <tr>
        <td>Prisoner Name:<input type="text" [(ngModel)]="prData.prisoner_name" placeholder="enter the Prisoner name"></td>
        </tr>
        <tr>
        <td>Crime he did:<input type="text" [(ngModel)]="prData.crime" placeholder="enter the Crime type"></td>
        </tr>
      </table>
        <input type="submit" name="submit" value="Submit"><br>
        
        </div>
        
