 
  <h1>Police-Details</h1>
  <div class= "police working-area">

    
      <form action ="/" id="myPolice">
        <p>Police id:</p> <input type="number" name="PoliceId" placeholder="enter the Police id">
        <p>Police Name:</p> <input type="text" name="PoliceName" placeholder="enter the Police name">
        <p>Police adress:</p> <input type="text" name="PoliceAdress" placeholder="enter the Police adress">
        <p>Police phonenumber:</p> <input type="number" name="PolicePhoneNo" placeholder="enter the Police phonenumber">
        <p>Police complaint number:</p> <input type="number" name="PoliceComplaintNo" placeholder="enter the Police complaint number">
        <p>FIR Number:</p> <input type="number" name="FirNo" placeholder="enter the FIR number">
        <input type="submit" name="submit" value="Submit"><br>
        </form>
        </div>
    