<home-page></home-page> 
  <h1>Police-Details</h1>
  <table border="1" style="padding:5px;">
    <tr *ngFor="let row of httpdata">
      <td>{{ row.police_id }}</td>
      <td>{{ row.police_name }}</td>
      <td>{{ row.Police_Address }}</td>
      <td>{{ row.phone_number }}</td>
      <td>{{ row.compliant_no}}</td>
      <td>{{ row.FIR_No }}</td>
      
      <td><button value="Delete" (click)="deletePolice(row.police_id)">Delete</button></td>
  
    </tr>
  </table>
  <div class= "police working-area">

    <table   style="padding:5px;">
      
        <tr>
       <td>Police Name:</td>
        <td><input type="text"  [(ngModel)]="poData.police_name" placeholder="Enter the Police name"></td>
         </tr>
         <tr>
       <td>Police adress:</td>
       <td><input type="text"  [(ngModel)]="poData.Police_Address" placeholder="Enter the Police adress"></td>
       </tr>
       <tr>
       <td>Police phonenumber:</td>
        <td><input type="number"  [(ngModel)]="poData.phone_number" placeholder="Enter the Police phonenumber"></td>
        </tr>
        <tr>
        <td>Police complaint number:</td>
         <td><input type="number"  [(ngModel)]="poData.complaint_no" placeholder="Enter the Police complaint number"></td>
         </tr>
         <tr>
        <td>FIR Number:</td>
         <td><input type="number"  [(ngModel)]="poData.FIR_No" placeholder="Enter the FIR number"></td>
         </tr>
      </table>
      <input type="submit" (click)="addPolice()" value="Add police"><br>
        </div>
    