 
  <h1>Police-Details</h1>
  <div class= "police working-area">

    <table   style="padding:5px;">
      
        <tr>
       <td>Police Name:</td>
        <td><input type="text"  [(ngModel)]="poData.police_name" placeholder="enter the Police name"></td>
         </tr>
         <tr>
       <td>Police adress:</td>
       <td><input type="text"  [(ngModel)]="poData.Police_Address" placeholder="enter the Police adress"></td>
       </tr>
       <tr>
       <td>Police phonenumber:</td>
        <td><input type="number"  [(ngModel)]="poData.phone_number" placeholder="enter the Police phonenumber"></td>
        </tr>
        <tr>
        <td>Police complaint number:</td>
         <td><input type="number"  [(ngModel)]="poData.complaint_no" placeholder="enter the Police complaint number"></td>
         </tr>
         <tr>
        <td>FIR Number:</td>
         <td><input type="number"  [(ngModel)]="poData.Fir_no" placeholder="enter the FIR number"></td>
         </tr>
      </table>
      <input type="submit" name="submit" value="Submit"><br>
        </div>
    