
<!DOCTYPE HTML>
<html>
<head>
    <link rel="homepage" type="text/css" href="home-page.component.css">
</head>
<body>
  
  <h1>Home page</h1>
<div class="home-page">
 
 <br>
 <br>

  <nav>

    
      <button class="home-page-btn"><a routerLink="/complaint">Complaint-Register</a></button>
    
     <button class="home-page-btn"><a routerLink="/victim">Victim</a></button> 
    
    <button class="home-page-btn"><a routerLink="/police">Police-details</a></button><br><br><br>
   
    <button class="home-page-btn"><a routerLink="/fir">FIR</a></button> 
  
     <button class="home-page-btn"><a routerLink="/prisoner">Prisoner-Details</a></button>
    
    <button class="home-page-btn"><a routerLink="/chargesheet">ChargeSheet</a></button> 
    </nav>
    
    
    </div>
</body>
  </html>