<div class="home-page">
  <nav>
    <div class="button-container">
      <a routerLink="/complaint" class="button">Complaint-Register
      </a>
      <a routerLink="/victim" class="button"> Victim
      </a>
      <a routerLink="/fir" class="button">FIR
      </a>
      <a routerLink="/police" class="button">Police-details
      </a>
      <a routerLink="/prisoner" class="button">Prisoner-Detail
      </a>
      <a routerLink="/chargesheet" class="button">
        Charge Sheet
      </a>
    </div>
  </nav>
</div>