 
  <h1>Complaint-register</h1>
  <div class= "complaint-register working-area">

   
    <form action ="/" id="mycomplaint">
      <p>Complaint Number:</p> <input type="number" name="ComplaintNo" placeholder="enter the complaint no">
      <p> Type:</p><input type="text" name="ComplaintType" placeholder="enter the complaint"><br>
      <p> Accuse_name:</p><input type="text" name="AccuseName" placeholder="enter the Accuse Name"><br>
      <p> Location:</p><input type="text" name="Location" placeholder="enter the location"><br>
      <p> Date:</p><input type="datetime-local" name="Date" placeholder="enter the Date"><br>
      <p> Time:</p><input type="time" name="Time" placeholder="enter the Time"><br>
      <input type="submit" name="submit" value="Submit"><br>
    </form>
  </div>
 