<h1>Complaint-register</h1>



<table border="1" style="padding:5px;">
  <tr *ngFor="let row of httpdata">
    <td>{{ row.complaint_num }}</td>
    <td>{{ row.complaint_type }}</td>
    <td>{{ row.Accuse_name }}</td>
    <td>{{ row.Location }}</td>
    <td>{{ row.Date}}</td>
    <td>{{ row.Time }}</td>
    <td>{{ row.complaint_description }}</td>
    <td><button value="Delete" (click)="deleteComplaint(row.complaint_num)">Delete</button></td>

  </tr>
</table>

<div class="complaint-register working-area">


  <table   style="padding:5px;">
  
    <tr>
      <td>Type:</td>
      <td><input type="text" [(ngModel)]="cData.complaint_type" placeholder="enter the complaint"></td>
    </tr>
    <tr>
      <td>Accuse_name: </td>
      <td><input type="text"   [(ngModel)]="cData.Accuse_name" placeholder="enter the Accuse Name"><br></td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><input type="text" [(ngModel)]="cData.Location" placeholder="enter the location"></td>
    </tr>
    <tr>
      <td>Date :</td>
      <td><input type="date" [(ngModel)]="cData.Date" placeholder="enter the Date"></td>
    </tr>
    <tr>
      <td>Time :</td>
      <td>
        <input type="text" [(ngModel)]="cData.Time" placeholder="enter the complaint time">
      </td>
    </tr>
    <tr>
      <td>Complaint Description :</td>
      <td>
        <input type="text" [(ngModel)]="cData.complaint_description" placeholder="enter the complaint Description">
      </td>
    </tr>
  </table>

 
  <input type="submit" (click)="addComplaint()" name="submit" value="Submit"><br>

</div>