<!DOCTYPE HTML>
<html>
<head>
    <link rel="charge-sheet" type="text/css" href="charge-sheet.component.css">
</head>
<body>
 
  <h1>Charge-sheet Details</h1>
  <div class= "chargesheet">

   
    <form action ="/" id="myChargeSheet">
      <p>Complaint Number:</p> <input type="number" name="ComplaintNo" placeholder="Enter the complaint no">
      <p>Name:</p><input type="text" name="ChargeSheetName" placeholder="Enter the Name"><br>
      <p> Time:</p><input type="time" name="Time" placeholder="Enter the Time"><br>
      <p> Date:</p><input type="datetime-local" name="Date" placeholder="Enter the Date"><br>
      <p> Crime:</p><input type="text" name="crime" placeholder="Enter the crime he did"><br>
      <input type="submit" name="submit" value="Submit"><br>
    </form>
  </div>
</body>
</html>

