<h1>Charge-sheet Details</h1>
<table border="1" style="padding:5px;">
  <tr *ngFor="let row of httpdata">
    <td>{{ row.charge_sheet_no }}</td>
    <td>{{ row.chargesheet_date }}</td>
    <td>{{ row.Time}}</td>
    <td>{{ row.Name }}</td>
    <td>{{ row.crime }}</td>
    <td><button value="Delete" (click)="deleteChargesheet(row.charge_sheet_no)">Delete</button></td>

  </tr>
</table>
<div class="chargesheet working-area">


  <table style="padding:5px;">
    <tr>
      <td>chargesheet Number:<input type="number" [(ngModel)]="cData.charge_sheet_no" placeholder="Enter the chargesheetno"></td>
    </tr>
    <tr>
        <td>Date:<input type="date" [(ngModel)]="cData.chargesheet_date" placeholder="Enter the Date"></td>
      </tr>
   
    <tr>
      <td>Time:<input type="time" [(ngModel)]="cData.Time" placeholder="Enter the Time"></td>
    </tr>
    <tr>
        <td>Name:<input type="text" [(ngModel)]="cData.Name" placeholder="Enter the Name"></td>
      </tr>
    
    <tr>
      <td>Crime:<input type="text" [(ngModel)]="cData.crime" placeholder="Enter the crime he did"></td>
    </tr>
   
  </table>
  <input type="submit" (click)="addchargesheet()" value="Submit"><br>
  
</div>