 
  <h1>FIR-Details</h1>
  <div class= "fir working-area">

    
      <form action ="/" id="myFir">
         
        <p>FIR number:</p> <input type="number" name="FirNo" placeholder="enter the Fir number">
        <p>FIR Date:</p> <input type="date" name="FirDate" placeholder="enter the Fir date">
        <p>FIR Time:</p> <input type="time" name="FirTime" placeholder="enter the Fir time">
        
        <p> complaint number:</p> <input type="number" name="PoliceComplaintNo" placeholder="enter the Police complaint number">
        <input type="submit" name="submit" value="Submit"><br>
        </form>
       
        
    </div>
     