<!DOCTYPE HTML>
<html>
<head>
    <link rel="victim" type="text/css" href="victim-details.component.css">
</head>
<body>
  <h1>Victim-Details</h1>
  
  <div class= "victim">

    
      <form action ="/" id="myVictim">
        <p>Victim id:</p> <input type="number" name="victimId" placeholder="enter the victim id">
        <p>Victim Name:</p> <input type="text" name="victimName" placeholder="enter the victim name">
        <p>Victim adress:</p> <input type="text" name="victimAdress" placeholder="enter the victim adress">
        <p>Victim phonenumber:</p> <input type="t" name="victimNo" placeholder="enter the victim phonenumber">
        <p>Victim Gender:</p> <input type="text" name="victimGender" placeholder="enter the victim Gender">
        <p>Victim complaint number:</p> <input type="number" name="victimComplaintNo" placeholder="enter the victim complaintnumber">
        <input type="submit" name="submit" value="Submit"><br>
         </form>
        </div>
        </body>
        </html>