 
  <h1>Victim-Details</h1>
  <table border="1" style="padding:5px;">
    <tr *ngFor="let row of httpdata">
      <td>{{ row.Victim_id }}</td>
      <td>{{ row.Name }}</td>
      <td>{{ row.Address }}</td>
      <td>{{ row.Phone_Number }}</td>
      <td>{{ row.Gender}}</td>
      <td>{{ row.complaint_no }}</td>
      <td><button value="Delete" (click)="deleteVictim(row.Victim_id)">Delete</button></td>
  
    </tr>
  </table>
  <div class= "victim working-area">

    <table style="padding:5px;">
        <tr>
        <td>Victim Name:<input type="text" [(ngModel)]="vData.Name" placeholder="enter the victim name"></td>
        </tr>
        <tr>
      <td>Victim adress:<input type="text" [(ngModel)]="vData.Address" placeholder="enter the victim adress"></td>
      </tr>
      <tr>
        <td>Victim phonenumber:<input type="text" [(ngModel)]="vData.Phone_Number" placeholder="enter the victim phonenumber"></td>
        </tr>
        <tr>
        <td>Victim Gender:<input type="text" [(ngModel)]="vData.Gender" placeholder="enter the victim Gender"></td>
        </tr>
        <tr>
        <td>Victim complaint number:<input type="number"[(ngModel)]="vData.complaint_no" placeholder="enter the victim complaintnumber"></td>
        </tr>
        
        </table>
        <input type="submit" (click)="addVictim()" name="submit" value="Submit"><br>

        </div>
    